<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poke-fangkuai-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,151}</string>
                <key>spriteSourceSize</key>
                <string>{110,151}</string>
                <key>textureRect</key>
                <string>{{1910,309},{110,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{679,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{566,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{679,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{1,155},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{1,309},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{791,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{678,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{791,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{903,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-fangkuai-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{114,155},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-g-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{790,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-g-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{227,1},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{903,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1015,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{114,309},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{227,155},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{902,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1015,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1127,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{340,1},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1014,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1127,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{227,309},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1239,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-heitao-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1126,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1239,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1351,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{340,155},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1238,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1351,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1463,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1350,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{453,1},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1463,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1575,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{340,309},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1462,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-hongtao-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{453,155},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1575,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1687,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{566,1},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1574,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1687,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1799,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1686,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{453,309},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1799,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1911,1},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1798,309},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{110,152}</string>
                <key>textureRect</key>
                <string>{{1911,155},{110,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poke-meihua-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,152}</string>
                <key>spriteSourceSize</key>
                <string>{111,152}</string>
                <key>textureRect</key>
                <string>{{566,155},{111,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poke.png</string>
            <key>size</key>
            <string>{2022,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:560c2d48763473ad6b6b9ab719fb1a85:c0c5f28959e59d221316ad37d88e603d:6c88d081f3c000b37073a2bdad379e6c$</string>
            <key>textureFileName</key>
            <string>poke.png</string>
        </dict>
    </dict>
</plist>
